SERVER=host.docker.internal
PORT=35257
DO_RUN=/home/rab/DEVEL_OLDJOBE/execpdc/do_run_local
CUDA_ARCH=compute_61
JOBE_DIR=/mnt/jobe_runs
# syntax:  ENVMOD_cplname=envmod_name
#ENVMOD_mpicc=openmpi-4.1.6
#ENVMOD_mpic++=openmpi-4.1.6
#ENVMOD_mpi4py=openmpi-4.1.6
ENVMOD_nvcc=nvhpc/24.7
ENVMOD_nvcc++=nvhpc/24.7
ENVMOD_pgcc=nvhpc/24.7
ENVMOD_pgc++=nvhpc/24.7