SERVER=host.docker.internal
PORT=35256
DO_RUN=/home/rab/DEVEL_LOCAL/execpdc/do_run_local
CUDA_ARCH=compute_61
JOBE_DIR=/home/rab/jobe_runs
#FLAWFINDER_MINLEVEL=4
# syntax:  ENVMOD=envmod_name cpl_name ... [; envmod_name cpl_name ...] ...
# syntax:  ENVMOD_cplname=envmod_name
#ENVMOD_mpicc=openmpi-4.1.6
#ENVMOD_mpic++=openmpi-4.1.6
#ENVMOD_mpi4py=openmpi-4.1.6
ENVMOD_nvcc=nvhpc/23.5
ENVMOD_nvcc++=nvhpc/23.5
ENVMOD_pgcc=nvhpc/23.5
ENVMOD_pgc++=nvhpc/23.5
