[Unit]
Description=ExecPDC devel local service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
PIDFile=/home/rab/DEVEL_LOCAL/execpdc/pid_server
Restart=always
RestartSec=1
User=www-data
Group=www-data
WorkingDirectory=/home/rab/DEVEL_LOCAL/execpdc/
ExecStart=/home/rab/DEVEL_LOCAL/execpdc/execpdc_server -service
ExecStop=/usr/bin/kill -TERM $MAINPID
StandardOutput=append:/home/rab/DEVEL_LOCAL/execpdc/logs/execpdc_devel_local_stdout.log
StandardError=append:/home/rab/DEVEL_LOCAL/execpdc/logs/execpdc_devel_local_stderr.log

[Install]
WantedBy=multi-user.target
