#SERVER=host.docker.internal
SERVER=localhost
PORT=35252
DO_RUN=/home/rab/RSBE_GCP/execpdc/do_run_local
CUDA_ARCH=compute_61
JOBE_DIR=/mnt/jobe_runs
# syntax:  ENVMOD_cplname=envmod_name
#ENVMOD_mpicc=openmpi-4.1.6
#ENVMOD_mpic++=openmpi-4.1.6
#ENVMOD_mpi4py=openmpi-4.1.6
ENVMOD_mpicc=nvhpc/26.5
ENVMOD_mpic++=nvhpc/26.5
ENVMOD_mpi4py=nvhpc/26.5
ENVMOD_nvcc=nvhpc/26.5
ENVMOD_nvcc++=nvhpc/26.5
ENVMOD_pgcc=nvhpc/26.5
ENVMOD_pgc++=nvhpc/26.5

