[Unit]
Description=ExecPDC server service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
PIDFile=/home/rab/LOCAL/execpdc/pid_server
Restart=always
RestartSec=1
User=www-data
Group=www-data
WorkingDirectory=/home/rab/LOCAL/execpdc/
ExecStart=/home/rab/LOCAL/execpdc/server
ExecStop=/usr/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
